body {
  margin: 0;
}

iframe {
  width: 100%;
  height: 99vh; /* not 100 to avoid a double scroll bar */
  border: 0;
}

#too-long {
  display: none;
}

#loading {
  font-family: sans-serif;
  margin-left: 15px;
  margin-top: 15px;
  position: absolute;
}
